/build
kangamus
KanjiStudyJam
icon.icns
icon.png
info.plist
/.vscode
Makefile
lib_unused/
Max/recordings
Max/Samples/Atmospheres/
Max/Samples/LofiKicks/
Max/Samples/Percussion/
Max/Samples/Shakers/
Max/Samples/Snaps/
Max/Samples/SnaresRimshots/
Max/Samples/CartoonBell.wav
Max/Samples/Hihats/
.DS_Store
font/hiragino-kaku-gothic-pro-w3.ttx
csound6.18.1_11/
.dgit/
.dgitignore
.dgitconfig